[submodule "co2_sensor"]
	path = co2_sensor
	url = https://github.com/Tiryoh/co2_sensor.git
[submodule "dht11_sensor"]
	path = dht11_sensor
	url = https://github.com/szazo/DHT11_Python.git
[submodule "ambient_lib"]
	path = ambient_lib
	url = https://github.com/Tiryoh/ambient-python-lib.git
